@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center" style="color:black ; font-family:'MV Boli'">
    <h1 class="display-4"><strong> Gastronomia Traditionala Chineza</strong></h1>
    <br />
    <p style="color:black">
        Bucătăria chinezească este cunoscută şi apreciată pe întreg mapamondul ca fiind una cu un specific cu totul aparte. Mai întâi apar aromele nemaiîntâlnite care au menirea de a stârni simţurile. Pe lângă acest aspect, în bucătăria chinezească mai întâlnim şi o atenţie deosebită pentru modul în care se îmbină armonios ingredientele – carnea cu legumele, cu orezul şi cu sosurile – proteinele cu vitaminele. În bucătăria chinezească este foarte important modul în care se taie alimentele, lucru care diferă de la caz la caz după specificul fiecărei reţete. Aflăm că maeştrii bucătari deţin trei tehnici de tăiere: drept, oblic şi prin crestare. O altă tehnică păstrată din cele mai vechi timpuri este cea de răsucire a tigăii (stir frying) prin care se realizează un preparat lipsit de grăsimi. Acestă tehnică presupune ca tigaia să fie încinsă bine şi răsucită încontinuu în timpul gătirii.
    </p>
    <br />
    <p>
        Unul dintre ingredientele cheie ale bucătăriei chinezeşti este oţetul de orez – prezent în trei tipuri în China: negru, roşu şi alb. Fiecare tip de oţet deţine alte calităţi şi sunt folosite în mâncare într-un mod foarte atent calculat. Unul dintre puţinele alimente care nu se găsesc în bucătăria chinezească sunt laptele şi derivaţii săi. Grăsimile folosite de chinezi sunt derivate din porc, arahide, soia şi rapiţă. Chinezii nu folosesc uleiul de măsline iar dintre cele mai folosite legume sunt usturoiul, ceapa, prazul şi cele cu frunze verzi. Dovleceii, roşiile şi morcovii se folosesc rar în timp ce pâinea este utilizată îndeosebi în partea de nord a Chinei, în timp ce în celelalte regiuni aceasta este înlocuită de orez. Iată doar câteva dintre marile secrete ale gastronomiei chineze – un motiv în plus pentru a gusta din produsele noastre şi a ne călca pragul. Restul este doar o călătorie binefăcătoare într-o lume fascinantă şi plină de taine şi înţelesuri.
    </p>
</div>
<br />
<p class="text-left"   ; style="color:black ; font-family:'MV Boli'">
    PROGRAM :<br/>
    LUNI-VINERI : 10:00 - 23:00 <br/>
    SAMBATA-DUMINICA : 12:00 - 22:00 <br/>

</p>