@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de confidentialitate";
}
<h1 style="color:black ; font-family:'MV Boli'">@ViewData["Title"]</h1>

<p style="color:black ; font-family:'MV Boli'">
    Politica de Confidenţialitate şi Securitate a Datelor Personale (Politica)

    Aceste reguli stabilesc politica de confidenţialitate şi securitate a datelor personale procesate de restaurantul nostru, în special a datelor cu caracter personal conform Regulamentului European 679/2016 (GDPR). Aceasta politica explică în ce mod utilizam noi, Mr. Yu, în calitate de Operator, orice tip de informaţie personală pe care ne-o puteţi oferi pe parcursul utilizării site-ului .
</p>
